$primary: #060E20;
$sidebar-bg: #0F172A;
$navbar-bg: #020617CC;
$navbar-bg-dull: rgb(149 169 255 / 24%);
$layout-bg: #0B1326;

$nav-search-bar-bg: #0F172A80;

$navbar-border: #FFFFFF0D;

$profile-icon-bg: #686ae5c4;

$primary-text: #C7D2FE;
$secondary-text: #94A3B8;

$primary-subtext: #C0C1FF;

$plan-text: #64748B;
$white-text: #ffffff;