@use "./variables" as *;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: $primary;
  color: $primary-text;
}

.main-layout {
  height: 100vh;
  width: 100vw;
  display: flex;

  &__sidebar {
    min-width: 240px;
    max-width: 250px;
    width: 20%;
    height: 100%;
  }

  &__content {
    flex: 1;
  }

  &__navbar {
    box-sizing: border-box;
    height: 7%;
  }

  &__main {
    box-sizing: border-box;
    height: 93%;
    background-color: $layout-bg;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #7e80ff 0%, #494BD6 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}