@use "../../styles/variables" as *;

.sidebar-container {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left;

  &__logo-container {
    padding-bottom: 32px;

    .logo {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -1px;
    }

    .description {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.3px;
      color: $secondary-text;
    }
  }

  &__menu-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__button-container {
    border-bottom: 1px solid white;
  }

  &__cta-container {
    border: 1px solid yellow;
  }

  &__user-container {
    border: 1px solid red;
  }
}