@use "../../styles/variables" as *;

.sidebar-container {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left;
  background-color: $sidebar-bg;

  &__logo-container {
    padding-bottom: 32px;

    .logo {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -1px;
    }

    .description {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.3px;
      color: $secondary-text;
    }
  }

  &__menu-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__button-container {
    border-bottom: 1px solid #FFFFFF0D;
    display: flex;
    padding: 15px 3px;
  }

  &__cta-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 17px;
  }

  &__user-container {
    padding: 24px 8px 0;
    display: flex;
    align-items: center;
    gap: 12px;

    .profile-picture {
      height: 32px;
      width: 32px;
      background-color: $profile-icon-bg;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .profile-info {

      .profile-name {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        color: $white-text;
      }

      .plan-name {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 1px;
        vertical-align: middle;
        text-transform: uppercase;
        color: $plan-text;
      }
    }
  }
}