@use "../../styles/variables" as *;

.navbar-container {
  background-color: $navbar-bg;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid $navbar-border;
  padding: 0 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .hamburger {
      display: none;
      cursor: pointer;

      @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }

  &__search-bar {
    padding: 8px 40px 7px 16px;
    background: $nav-search-bar-bg;
    border-radius: 999px;
    flex: 1;
    max-width: 448px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 5px 1px $plan-text;
    cursor: pointer;

    &:focus-visible {
      outline: 1px solid white;
    }

    .placeholder-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0px;
      vertical-align: middle;
      color: $plan-text;

      &::before {
        content: "Search tasks, goals, or metrics...";

        @media (max-width: 435px) {
          content: "Search...";
        }
      }
    }
  }

  &__notification {
    position: relative;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: $navbar-bg-dull;
    }

    .notification-unread {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}

.sbar {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);
  transition: left 0.3s ease;
  z-index: 1000;
}

.sbar.open {
  left: 0;
}