@use "../../styles/variables" as *;

.goals-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  flex: 1;
  overflow: scroll;

  &__goals-subcontainer {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .header {
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: start;
        
        .subtitle {
          font-weight: 800;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 4.8px;
          vertical-align: middle;
          text-transform: uppercase;
          color: $primary-subtext;
        }

        .title {
          font-weight: 800;
          font-size: 48px;
          line-height: 48px;
          letter-spacing: -2.4px;
          vertical-align: middle;

        }
      }

      .right {
        align-self: flex-end;

        button {
          border: 1px solid #FFFFFF0D;
          background: #222A3D;
          padding: 12px 20px;
          padding-left: 18px;
          border-radius: 12px;
          display: flex;
          gap: 12px;
          box-shadow: 0px 1px 2px 0px #0000000D;
          color: #DAE2FD;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;

          &:hover {
            box-shadow: 0 0 10px #9c62ff34;
          }
        }
      }
    }

    .status-container {
      display: flex;
      justify-content: space-between;

      .left {
        position: relative;
        padding: 6px;
        border-radius: 12px;
        border: 1px solid #FFFFFF0D;
        background: #131B2E;
        display: flex;

        .indicator {
          position: absolute;
          top: 6px;
          left: 0;
          height: calc(100% - 12px);
          background: #FFFFFF1A;
          border-radius: 8px;
          z-index: 0;
          width: 0;
        }

        .tab {
          position: relative;
          z-index: 1;
          transition: color 0.2s ease;

          padding: 8px 24px;
          border-radius: 8px;
          color: #94A3B8;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          
          &.active {
            color: $primary-text;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            vertical-align: middle;
          }
        }
      }

      .right {
        display: flex;
        padding: 0 16px;
        gap: 32px;

        .line {
          width: 1px;
          opacity: 1;
          background: #ffffff4b;
        }

        .stat-title {
          color: #64748B;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1.6px;
          vertical-align: middle;
          text-transform: uppercase;
        }

        .stat {
          color: #DAE2FD;
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0px;
          vertical-align: middle;
        }

        .success {
          color: #4EDEA3;
        }
      }
    }

    .cards-container {
      border: 1px solid red;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 425px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

.goal-modal-container {

  &__title {
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .field-container {
      display: flex;
      gap: 20px;
    }

    .field {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex: 1;

      .label {
        color: #C7C4D8;
        font-size: 11px;
        line-height: 16.5px;
        letter-spacing: 0.55px;
      }

      input {
        width: 100%;
        box-sizing: border-box;
        background: $sidebar-bg;
        border: none;
        padding: 14px 16px;
        border-radius: 8px;
        caret-color: #6366f1;
        color: #6366f1;
        font-size: 16px;

        &::placeholder {
          color: #464555;
          font-size: 16px;
        }

        &:focus {
          border: 1px solid #6366f1;
          outline: none;
        }

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px #060E20 inset;
          -webkit-text-fill-color: #6366f1;
          font-size: 16px;
        }
      }
    }
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* makes it white */
  cursor: pointer;
}