.button {
  border: none;
  padding: 14px 0;
  border-radius: 8px;
  background: linear-gradient(97.44deg, #C0C1FF 0%, #4B4DD8 100%);

  cursor: pointer;
  color: #1000A9;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  transition: transform 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 1px #5a5bb193;
    transform: translateY(-4px);
  }
}