.card-container {
  border: 1px solid #FFFFFF0D;
  background: #131B2E;
  min-width: 300px;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    display: flex;

    .left {
      align-self: flex-end;
    }

    .right {
      align-self: flex-start;
    }
  }

  &__titile-container {
    text-align: left;
    display: flex;
    flex-direction: column;

    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.5px;
      vertical-align: middle;
      color: #DAE2FD;
      padding-top: 17px;
    }

    .subtitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 22.75px;
      letter-spacing: 0px;
      vertical-align: middle;
      color: #64748B;
    }
  }

  &__progress-bar {
  }

  &__date-container {
    text-align: left;
  }
}