.card-container {
  border: 1px solid #FFFFFF0D;
  background: #131B2E;
  flex: 1;
  min-width: 300px;
  padding: 24px;
  border-radius: 12px;

  &__header {
    display: flex;

    .left {
      align-self: flex-end;
    }

    .right {
      align-self: flex-start;
    }
  }

  &__titile-container {
    text-align: left;
    display: flex;
    flex-direction: column;

    .title {

    }

    .subtitle {

    }
  }

  &__progress-bar {
    border: 1px solid red;
  }

  &__date-container {
    text-align: left;
  }
}