.signup-form-container {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .signup-form-logo-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .signup-form-logo {
      color: #C0C1FF;
      font-size: 30px;
      font-weight: 800;
      line-height: 36px;
      letter-spacing: -1.5px;
      text-align: center;
    }

    .signup-form-logo-subtext {
      color: #C7C4D8;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .signup-form-sub-container {
    border-radius: 12px;
    padding: 40px;
    background-color: #171F33B3;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__title-container {
      display: flex;
      flex-direction: column;
      gap: 4px;

      p {
        color: #C7C4D8;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
      }

    }

    &__title {
      color: #DAE2FD;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__terms-field {
        display: flex;
        align-items: center;
        gap: 12px;

        .terms-input {
          accent-color: #060E20;
        }

        .terms-label {
          color: #C0C1FF;
          font-size: 12px;
        }
      }

      &__field {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      &__label {
        color: #C7C4D8;
        font-size: 11px;
        line-height: 16.5px;
        letter-spacing: 0.55px;
      }

      &__input {
        background: #060E20;
        border: none;
        padding: 14px 16px;
        border-radius: 8px;
        caret-color: #6366f1;
        color: #6366f1;
        font-size: 16px;

        &::placeholder {
          color: #464555;
          font-size: 16px;
        }

        &:focus {
          border: 1px solid #6366f1;
          outline: none;
        }

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px #060E20 inset;
          -webkit-text-fill-color: #6366f1;
          font-size: 16px;
        }
      }

      &__error {
        margin: 0;
      }
    }
  }
}